.App {
    background: -webkit-linear-gradient(#687EFF, #98E4FF, #687EFF);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 15px;
    background-color: rgb(51, 58, 115, 0.7);
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.5);
}

.greeting {
    background: -webkit-linear-gradient(#ec951b, #eeff00);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.signup, .login, .text {
    color: white;
}

.login-form, .signup-form {
    justify-content: center;
    align-items: center;
}

input {
    border-radius: 15px;
    border:  none;
}

input::placeholder {
    text-align: center; 
    color: black;
    font-weight: bold;
}

/* Smartfony (do 767px) */
@media screen and (max-width: 767px) {
    .container {
        height: 65%;
        margin: 20px;
        padding: 10px 15px;
    }
    
    .greeting {
        font-size: 45px;
        padding: 0 15px;
        margin: 10px 20px 25px 20px;
    }
    
    input {
        height: 8px;
        width: 250px;
        margin: 10px;
        padding: 15px;
        font-size: 17px;
    }

    .signup, .login {
        font-size: 30px;
    }
  }
  
  /* Tablety (768px - 1023px) */
  @media screen and (min-width: 768px) and (max-width: 1023px) {
    .container {
        height: 65%;
        margin: 10px;
        padding: 10px 15px;
    }

    .greeting {
        font-size: 72px;
        padding: 0 15px;
        margin: 10px 20px 50px 20px;
    }
    
    input {
        height: 10px;
        width: 300px;
        margin: 10px;
        padding: 15px;
        font-size: 17px;
    }

    .signup, .login {
        font-size: 32px;
    }
  }
  
  /* Komputery (od 1024px wzwyż) */
  @media screen and (min-width: 1024px) {
    .container {
        height: 65%;
        margin: 10px;
        padding: 10px 15px;
    }

    .greeting {
        font-size: 72px;
        padding: 0 15px;
        margin: 10px 20px 50px 20px;
    }
    
    input {
        height: 10px;
        width: 300px;
        margin: 10px;
        padding: 15px;
        font-size: 17px;
    }

    .signup, .login {
        font-size: 32px;
    }
  }
  










/* to do
 rozdzielić na osobne pliki:
 - walidacja stylowa (logowanie, rejestracja)
 */


