.App {
    background: -webkit-linear-gradient(#687EFF, #98E4FF, #687EFF);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 65%;
    margin: 10px;
    padding: 10px 15px;
    border-radius: 15px;
    background-color: rgb(51, 58, 115, 0.7);
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.5);
}

.greeting {
    font-size: 72px;
    background: -webkit-linear-gradient(#ec951b, #eeff00);
    padding: 0 15px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 10px 20px 50px 20px;
}

.signup, .login, .text {
    color: white;
}

.login-form, .signup-form {
    justify-content: center;
    align-items: center;
}

input {
    height: 10px;
    width: 300px;
    opacity: 0.8;
    margin: 10px;
    border-radius: 15px;
    border:  none;
    padding: 15px;
    font-size: 17px;
}

input::placeholder {
    text-align: center; 
    color: black;
    font-weight: bold;
}


/* to do
 rozdzielić na osobne pliki:
 - walidacja stylowa (logowanie, rejestracja)
 */