.login-button, .signup-button, .Logout {
    background-color: #fff;
    border: 0 solid #e2e8f0;
    border-radius: 1.5rem;
    box-sizing: border-box;
    color: #0d172a;
    cursor: pointer;
    font-family: "Basier circle",-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-weight: bold;
    line-height: 1;
    text-align: center;
    text-decoration: none #0d172a solid;
    text-decoration-thickness: auto;
    transition: all .1s cubic-bezier(.4, 0, .2, 1);
    box-shadow: 0px 1px 2px rgba(166, 175, 195, 0.25);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .login-button:hover, .signup-button:hover, .Logout:hover {
    background-color: #1e293b;
    color: #fff;
  }
  
  .xpp {
      color: rgb(0, 255, 0);
      font-weight: bold;
      cursor: pointer;
      text-decoration: none;
  }

  .Start, .Back, .next-question {
    background-color: #fff;
    border: 0 solid #e2e8f0;
    border-radius: 1.5rem;
    box-sizing: border-box;
    color: #0d172a;
    cursor: pointer;
    display: inline-block;
    font-family: "Basier circle",-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-weight: bold;
    line-height: 1;
    text-align: center;
    text-decoration: none #0d172a solid;
    text-decoration-thickness: auto;
    transition: all .1s cubic-bezier(.4, 0, .2, 1);
    box-shadow: 0px 1px 2px rgba(166, 175, 195, 0.25);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .Start:hover, .Back:hover, .next-question:hover {
    background-color: #1e293b;
    color: #fff;
  }

  /* Smartfony (do 767px) */
@media screen and (max-width: 767px) {
  .login-button, .signup-button, .Logout {
    font-size: 13px;
    margin: 10px 0;
    padding: 10px 15px;
    width: 100%;
  }
  
  .xpp {
      font-size: 18px;
  }

  .Start, .Back {
    font-size: 15px;
    margin: 5px;
    padding: 10px 0;
    width: 60%;
  }

  .next-question {
    font-size: 17px;
    margin: 0 10px 10px 10px;
    padding: 10px 0;
    width: 75%;
  }
}

/* Tablety (768px - 1023px) */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .login-button, .signup-button, .Logout {
    display: inline-block;
    font-size: 17px;
    margin: 10px;
    padding: 10px 0;
    width: 25%;
  }
  
  .xpp {
      font-size: 18px;
  }

  .Start, .Back, .next-question {
    font-size: 17px;
    margin: 10px;
    padding: 10px 0;
    width: 75%;
  }
}

/* Komputery (od 1024px wzwyż) */
@media screen and (min-width: 1024px) {
  .login-button, .signup-button, .Logout {
    display: inline-block;
    font-size: 17px;
    margin: 10px;
    padding: 10px 0;
    width: 30%;
  }
  
  .xpp {
      font-size: 18px;
  }

  .Start, .Back {
    font-size: 17px;
    margin: 10px;
    padding: 10px 0;
    width: 75%;
  }

  .next-question {
    font-size: 17px;
    margin: 0 10px;
    padding: 10px 0;
    width: 75%;
  }
}
